<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Arquivo</th>
                <th>Resumo</th>
                <th>Respostas</th>
            </tr>
        </thead>
        <tbody>
            {% for process in processes %}
            <tr>
                <td>{{ process.arquivo.name }}</td>
                <td>{{ process.resumo }}</td>
                <td>{{ process.resposta }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>